.wavy-text {
    text-decoration: underline wavy #008FFF;
}

.wavy-error-text {
    text-decoration: underline wavy #DC2626;
}

.shadow-dreamy {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.max-p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.grid-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
